body {
  background-color: #1f2463;
  color: #fff;
  font-size: 100px;
  text-shadow: 4px 6px #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  margin: 0;
  padding: 0;
  text-align: center;
  text-shadow: 2px 2px #000;
}

.time {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  transform: translateY(-50px);
  position: relative;
}

.hour,
.minute,
.second {
  position: absolute;
  width: 4px;
  height: 80px;
  background-color: #000;
  transform-origin: bottom center;
  transform: rotate(180deg);
  animation-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hour {
  width: 8px;
  height: 60px;
  background-color: #fff;
  border-radius: 5px;
  transform-origin: bottom center;
  transform: rotate(180deg);
}

.minute {
  background-color: #fff;
  border-radius: 5px;
}

.second {
  background-color: #FF5733;
  border-radius: 5px;
  animation: rotate 60s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(450deg);
  }
}